<h2>Realtime product list</h2>

<div class="container">
    <form id="prodForm">
        <label>Title:</label><br/>
        <input type="text" id="title" name="title" /><br />

        <label>Description:</label><br/>
        <input type="text" id="description" name="description" /><br />

        <label>Price:</label><br/>
        <input type="number" id="price" name="price" /><br />

        <label>Code:</label><br/>
        <input type="number" id="code" name="Code" /><br />

        <label>Stock:</label><br/>
        <input type="number" id="stock" name="Stock" /><br />

        <input type="submit" id="submit" value="Send" />
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>
